@media (max-width:1440px)
{
    .signup{
        &__title{
            font-size: 40px;
        }
        &__form{
            width: 33%;
        }
        &__image{
            height: 100vh;
        }
    }
    .form-signup{
        &__error{
            font-size: 18px;
        }
        &__input{
            font-size: 18px;
        }
    }
}
@media (max-width:1024px)
{
    .signup{
        &__image{
            display: none;
        }
        &__form{
            height: 80vh;
            width: 80%;
            margin: auto;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        &__title{
            font-size: 36px;
            text-align: center;
        }
    }
    .form-signup{
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 15px;
        &__btn{
            order: 2;
            width: 60vh;
        }
        &__input{
            order: 0;
            font-size: 21px;
            width: 60vh;
        }
        &__error{
            order: 0;
            font-size: 21px;
            width: 60vh;
        }
        &__sub-form{
            order: 1;
        }
    }
    .signup-form-error{
        left: calc(50% - 25vh);
    }
    
}
@media (max-width:768px)
{
    .signup{
        &__title{
            font-size: 32px;
        }
    }
}
@media (max-width:425px)
{
    .signup{
        &__form{
            width: 90%;
        }
    }
    .form-signup{
        gap: 10px;
    }
}
@media (max-width:375px)
{
    .signup{
        &__title{
            font-size: 32px;
        }
    }
    .form-signup{
        &__error{
            width: 50vh;
        }
        &__input{
            width: 50vh;
        }
        &__btn{
            width: 50vh;
        }
    }
}