@import url(/src/assets/Fonts/Font.scss);
.signup{
    font-family: "Roboto";
    &__container{
        position: relative;
    }
    &__block{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 10px;
    }
    &__image{
        max-width: 1024px;
        width: 100%;
        min-height: 80vh;
        background-image: url('/assets/screen.jpg');
        background-repeat: round;
        @media (max-width:1024px)
        {
            display: none;
        }
        &::after{
            content: "#TELL EVERYONE";
            display: block;
            width: 50px;
            position: relative;
            left: 42%;
            top: 38%;
            font-weight: 700;
            font-size: 70px;
            color: #fff;
        }
    }
}
.signup_form
{
    flex-shrink: 0;
    width: 30%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    @media (max-width:1024px)
    {
        width: 100%;
        max-height: fit-content;
        min-height: 75vh;
        padding: 0 10px;
        margin: 20px auto;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
   &__block{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    @media (max-width:1024px)
    {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    @media (max-width:1024px)
    {
        gap: 10px;
    }
   }
   &__title{
        font-weight: 700;
        font-size: 45px;
        color: #000;
        text-transform: capitalize;
        @media (max-width:1440px)
        {
            font-size: 36px;
        }
        @media (max-width:1024px)
        {
            text-align: center;
        }
        @media (max-width:768px)
        {
            font-size: 32px;
        }
   }
    &__error{
        display: block;
        border: 1px solid #E98787;;
        border-radius: 20px;
        margin-top: 5px;
        padding: 10px;
        background-color: #fff;
        width: 80%;
        color: #E98787;
        font-weight: 400;
        font-size: 21px;
        @media (max-width:1440px)
        {
            font-size: 18px;
        }
        @media (max-width:1024px)
        {
            order: 0;
            font-size: 21px;
            width: 60vh;
        }
        @media (max-width:375px)
        {
            width: 50vh;
        }
    }
    &__input{
        width: 80%;
        border: 1px solid #536471;
        border-radius: 20px;
        padding: 10px;
        font-weight: 400;
        font-size: 21px;
        color: #858585;
        @media (max-width:1440px)
        {
            font-size: 18px;
        }
        @media (max-width:1024px)
        {
            order: 0;
            font-size: 21px;
            width: 60vh;
        }
        @media (max-width:375px)
        {
            width: 50vh;
        }
    }
    &__btn{
        border: 1px solid #536471;
        border-radius: 50px;
        background-color: #fff;
        width: 80%;
        margin-top: 30px;
        padding: 10px;
        font-weight: 700;
        font-size: 30px;
        color: #1D9BF0;
        transition: .2s all;
        @media (max-width:1024px)
        {
            order: 2;
            width: 60vh;
        }
        @media (max-width:375px)
        {
            width: 50vh;
        }
        &:hover{
            background-color: #F0EEFF;
            border-color: black;
        }
        &:active{
            background-color: #fff;
            border: 1px solid #536471;
        }
    }
    &__sub_form{
        margin-top: 30px;
        color: #000;
        font-weight: 400;
        font-size: 21px;
        @media (max-width:1440px)
        {
            font-size: 18px;
        }
        @media (max-width:1024px)
        {
            order: 1;
            margin-top: -5px;
        }
        > a{
            color: #1D9BF0;
        }
    }
}
.signup_form_error{
    display: none;
    // display: flex;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    top: calc(50% - 325px/2);
    left: calc(50% - 375px/2);
    max-height: 325px;
    height: 100%;
    max-width: 375px;
    width: 100%;
    background-color: #D7E8F4;
    border: 1px solid #000;
    border-radius: 20px;
    @media (max-width:375px)
    {
        max-width: 300px;
        left: calc(50% - 300px/2);
    }
    &__close_btn{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &__title{
        font-weight: 400;
        font-size: 30px;
        color: #000;
        text-align: center;
        @media (max-width:375px)
        {
            padding: 5px;
        }
    }
    &__again_btn{
        border: 1px solid #1D9BF01A;
        border-radius: 20px;
        padding: 10px;
        width: 40%;
        background-color: #1D9BF0;
        color: #fff;
        text-align: center;
    }
}