@media (max-width:1024px)
{
    .error{
        &__title{
            font-size: 48px;
        }
        &__text{
            font-size: 24px;
        }
        &__btn{
            font-size: 27px;
            padding: 10px 100px;
        }
    }
}
@media (max-width:768px)
{
    .error{
        &__container{
            padding: 0 25px;
        }
        &__btn{
            padding: 8px 80px;
        }
    }
}
@media (max-width:425px)
{
    .error{
        &__title{
            font-size: 42px;
        }
        &__text{
            font-size: 22px;
        }
        &__btn{
            font-size: 24px;
            padding: 8px 60px;
        }
        &__container{
            padding: 0 10px;
        }
    }
}