@import url(/src/assets/Font.scss);
.error{
    font-family: "Roboto";
    &__container{
        max-width: 1250px;
        padding: 0 50px;
        margin: 0 auto;
    }
    &__block{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 80vh;
    }
    &__title{
        font-weight: 700;
        font-size: 60px;
        text-align: center;
        color: #000;
    }
    &__text{
        font-weight: 400;
        font-size: 27px;
        text-align: center;
        color: #000;
    }
    &__btn{
        margin-top: 20px;
        border: 1px solid #536471;
        border-radius: 50px;
        color: #1D9BF0;
        font-weight: 700;
        font-size: 30px;
        padding: 10px 120px;
        transition: .2s all;
        &:hover{
            background-color: #F0EEFF;
        }
        &:active{
            background-color: #fff;
        }
    }
}