@import url(/src/assets/Fonts/Font.scss);
.header{
    border-bottom: 1px solid #F0EEFF;
    font-family: 'Roboto';
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1250px;
        padding: 0 50px;
        height: 75px;
        margin: 0 auto;
        @media (max-width:768px)
        {
            padding: 0 25px;
        }
        @media (max-width:425px)
        {
            padding: 0 10px;
        }
    }
    &__logo{
        @media (max-width:425px)
        {
            width: 36px;
            height: 36px;
            margin-top: 10px;
        }
    }
    &__login
    {
        display: none;
    }
    &__login_btn{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        background-color: #1D9BF0;
        padding: 15px 30px;
        border-radius: 50px;
        transition: .2s all;
        @media (max-width:1024px)
        {
            font-size: 10px;
            padding: 12px 25px;
        }
        &:hover{
            background-color: #226BCA;
        }
        &:active{
            background-color: #1D9BF0;
        }
        .btn-item{
            font-size: 18px;
        }
    }
    &__logout_btn{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        background-color: #1D9BF0;
        padding: 15px 30px;
        border-radius: 50px;
        transition: .2s all;
        @media (max-width:1024px)
        {
            background-color: #fff;
            color: black;
            font-size: 24px;
            gap: 0;
            p{
                display: none;
            }
        }
        @media (max-width:768px)
        {
            padding: 10px 20px;
            font-size: 10px;
        }
        @media (min-width:1024px)
        {
            &:hover{
            background-color: #226BCA;
            }
            &:active{
                background-color: #1D9BF0;
            }
        }
        @media (max-width:1024px)
        {
            .btn_item:hover{
                opacity: .5;
            }
        }
        .btn_item{
            font-size: 18px;
            @media (max-width:1024px)
            {
                &:hover{
                    opacity: .5;
                }
                &:active{
                    opacity: 1;
                }
            }
        }
    }
    &__logout
    {
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        @media (max-width:1024px)
        {
            gap: 0;
        }
    }
    &__btn_is_active{
        display: flex;
    }
    &__avatar{
        width: 48px;
        height: 48px;
        border-radius: 90px;
        background-color: #C4C4C4;
        @media (max-width:1024px){
            width: 36px;
            height: 36px;
        }
        @media (max-width:425px)
        {
            width: 24px;
            height: 24px;
        }
    }
    &__username{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-weight: 700;
        font-size: 15px;
        color: black;
        @media (max-width:1024px)
        {
            font-size: 12px;
        }
    }
    &__name{
        @media (max-width:425px)
        {
            font-size: 10px;
        }
    }
}
.header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__breadcrumb{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 50px;
        align-items: center;
        @media (max-width:1024px)
        {
            margin-left: 25px;
        }
        @media (max-width:425px)
        {
            margin-left: 10px;
        }
        @media (max-width:320px)
        {
            margin-left: 5px;
        }
    }
    &__element{
        display: none;
    a{
        text-transform: capitalize;
        color: black;
        font-weight: 700;
        font-size: 12px;
    } 
    }
    &__home{
        display: block;
    }
}
