// @media (max-width:1024px)
// {
//     .footer{
//         &__block{
//             display: none;
//         }
//         &__search{
//             display: block;
//         }
//     }
// }
@media (max-width:768px)
{
    .footer{
        &__container{
            padding: 0 25px;
        }
    }
    .footer-nav{
        font-size: 12px;
        gap: 35px;
    }
}
@media (max-width:425px)
{
    .footer{
        &__container{
            padding: 0 10px;
        }
    }
    .footer-nav{
        gap: 30px;
    }
}
@media (max-width:375px)
{
    .footer-nav{
        gap: 10px;
    }
}