// @media (max-width:1024px)
// {
//     .footer{
//         &__block{
//             display: none;
//         }
//         &__search{
//             display: block;
//         }
//     }
// }
@media (max-width:768px)
{
    .footer{
        &__container{
            width: 95%;
        }
        &__block{
            font-size: 12px;
        }
    }
}
@media (max-width:425px)
{
    .footer{
        &__block{
            gap: 10px;
        }
    }
}