@import url(/src/assets/Font.scss);
.footer{
    font-family: "Roboto";
    &__container{
        max-width: 1250px;
        padding: 0 50px;
        margin: 0 auto;
    }
    &__search{
        display: none;
        padding: 10px;
        text-align: center;
        transition: .2s all;
        &:hover{
            background-color: #F6F6F6D9;
            color: #0038FFB2;
        }
    }
}
.footer-nav{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: #858585;
    font-weight: 400;
    font-size: 15px;
    gap: 40px;
    &__element{
        text-transform: capitalize;
    }
    &__element a{
        text-transform: none;
        color: #858585;
    }
}