@media (max-width:1440px)
{
    .login-form{
        &__title{
            font-size: 48px;
        }
        &__error{
            font-size: 18px;
        }
        &__input{
            font-size: 18px;
        }
    }
}
@media (max-width:1024px)
{
    .login{
        &__image{
            display: none;
        }
    }
    .login-form{
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 0px;
        &__block{
            height: 65vh;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        &__btn{
            order: 2;
            width: 60vh;
        }
        &__input{
            order: 0;
            font-size: 21px;
            width: 60vh;
        }
        &__error{
            order: 0;
            font-size: 21px;
            width: 60vh;
        }
        &__sub-form{
            order: 1;
        }
    }
    
}
@media (max-width:375px)
{
    .login-form{
        &__title{
            font-size: 40px;
        }
        &__error{
            width: 50vh;
        }
        &__input{
            width: 50vh;
        }
        &__btn{
            width: 50vh;
        }
    }
    .login-form-error{
        max-width: 300px;
        left: calc(50% - 300px/2);
        &__title{
            padding: 5px;
        }
    }
}